    * {
        font-family: iransans;
        font-weight: normal;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    
    .siteheader {
        display: flex;
        justify-content: space-between;
        background-color: #56727c;
        padding: .8rem;
    }
    
    .siteheader_section {
        display: flex;
        align-items: center;
    }
    
    .siteheader-items {
        padding: .2rem .5rem;
        margin-left: .5rem;
        font-size: 13px;
    }
    
    .siteheader_logo {
        color: white;
        font-size: 1.1rem;
        line-height: 0;
    }
    
    .siteheader-items.active {
        color: white;
        background-color: #415f69;
        border-radius: 4px;
    }
    
    .siteheaderitems_button {
        cursor: pointer;
        color: #d9e9ef;
    }
    
    .mainitem {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .listitem {
        max-width: 400px;
        padding: .2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .listitem+.listitem {
        border-top: 1px solid #D7DBDD;
    }
    
    .listitem_icon,
    .listitem_description {
        padding: .5rem;
    }
    
    .listicon_reverse {
        flex-direction: row-reverse;
    }
    
    .listitem_icon {
        font-size: 1.7rem;
        line-height: 0;
    }
    
    .icon {
        color: #bcd2da;
    }
    
    .listitem_description {
        font-size: 14px;
        color: #86969c;
    }
    
    footer {
        background-color: #56727c;
        color: white;
        padding: 0 1rem;
    }
    
    body {
        max-width: 1000px;
        min-height: 100%;
        margin: auto;
    }