  @font-face {
      font-family: "circular";
      src: url(../fonts/circular/circular.eot), url(../fonts/circular/circular.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/circular.ttf) format("truetype"), url(../fonts/circular/circular.woff2) format("woff2"), url(../fonts/circular/circular.woff) format("woff");
      font-weight: normal;
  }
  
  @font-face {
      font-family: "circular";
      font-weight: bold;
      src: url(../fonts/circular/Circular\ Std\ Bold.eot), url(../fonts/circular/Circular\ Std\ Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/Circular\ Std\ Bold.ttf) format("truetype"), url(../fonts/circular/Circular\ Std\ Bold.woff2) format("woff2"), url(../fonts/circular/Circular\ Std\ Bold.woff) format("woff");
  }
  
  @font-face {
      font-family: "iransans";
      src: url(../fonts/iransans/iransans.eot), url(../fonts/iransans/iransans.eot) format("embedded-opentype"), url(../fonts/iransans/iransans.ttf) format("truetype"), url(../fonts/iransans/iransans.woff2) format("woff2"), url(../fonts/iransans/iransans.woff) format("woff");
      font-weight: normal;
  }
  
  @font-face {
      font-family: "iransans";
      font-weight: bold;
      src: url(../fonts/iransans/IRAN\Sans\ Bold.eot), url(../fonts/iransans/IRAN\ Sans\ Bold.eot) format("embedded-opentype"), url(../fonts/iransans/IRAN\ Sans\ Bold.ttf) format("truetype"), url(../fonts/iransans/IRAN\ Sans\ Bold.woff2) format("woff2"), url(../fonts/iransans/IRAN\ Sans\ Bold.woff) format("woff");
  }
  
  * {
      font-family: "circular";
      font-weight: normal;
      line-height: normal;
      word-spacing: normal;
      letter-spacing: normal;
  }
  
  html {
      font-size: 100%;
  }
  
  title,
  h1,
  label,
  th {
      font-family: "circular";
      font-weight: bold;
  }
  
  #tabel {
      text-align: center;
  }
  
  .text.txt {
      font-weight: bold;
      text-align: center;
  }
  
  table tr .thc {
      color: red;
  }
  
  nav a[href] {
      color: black;
  }
  
  nav a[href="./contact_us.html"] {
      color: green;
  }
  
  a[href$=html] {
      background-color: pink;
  }
  
  p>span {
      background-color: orange;
  }
  
  li+span {
      background-color: yellow;
  }
  
  footer:hover a {
      color: purple;
  }
  
  li:hover a {
      color: purple;
  }
  
  li:hover {
      color: purple;
  }
  
  p.text::first-letter {
      font-weight: bold;
  }
  
  button {
      padding: .5rem;
      border: 2px solid black;
  }
  
  iframe {
      margin: 0rem 15rem;
  }
  
  header.head {
      width: 100%;
      height: 200px;
      background-image: url(../media/pictures/images.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 80%;
  }
  
  header.conhead {
      width: 100%;
      height: 150px;
      text-align: center;
      background: linear-gradient(to left, #3a1c71, #d76d77, #ffaf7b);
      filter: drop-shadow(2px 2px 4px rgb(0, 0, 0, .5));
  }
  
  h1 {
      padding: 3rem 0;
      text-shadow: 1px 1px 1px rgb(0, 0, 0, .2);
  }
  
  p {
      text-align: justify;
  }
  
  textarea {
      word-break: break-all;
  }
  
  .section::after,
  .section::before {
      content: "";
      display: table;
  }
  
  .section::after {
      clear: both;
  }
  
  .text_header {
      float: right;
      width: 60%;
      font-size: 1.1rem;
  }
  
  .img_header {
      float: right;
      width: 40%;
  }
  
  .text_header h2 {
      text-align: center;
      padding: 1rem 3rem;
      margin: 0;
      color: #fff;
      font-family: "iransans";
      font-weight: bold;
      word-spacing: normal;
      letter-spacing: normal;
  }
  
  .text_header p {
      padding: 0 3rem 1rem 3rem;
      margin: 0;
      line-height: 2rem;
      color: #fff;
      font-family: "iransans";
      font-weight: normal;
      word-spacing: normal;
      letter-spacing: normal;
  }
  
  .section h3 {
      font-family: "iransans";
      font-weight: bold;
      word-spacing: normal;
      letter-spacing: normal;
  }
  
  .section div {
      font-family: "iransans";
      font-weight: normal;
      word-spacing: normal;
      letter-spacing: normal;
  }
  
  .center {
      margin: 1rem 5.5rem;
  }
  
  .pic {
      float: right;
      width: calc(25% - 2.2rem);
      border: .1rem solid;
      margin: 1rem;
      border-radius: 1rem;
      height: 25rem;
  }
  
  .pic img {
      width: 100%;
      border-radius: 1rem;
  }
  
  .grad {
      background: linear-gradient(to left, #3a1c71, #d76d77, #ffaf7b);
  }
  
  footer {
      font-family: "iransans";
      font-weight: normal;
      word-spacing: normal;
      letter-spacing: normal;
  }
  
  .pic h4 {
      font-family: "iransans";
      font-weight: bold;
      word-spacing: normal;
      letter-spacing: normal;
      font-size: 14px;
      padding: 0 .5rem;
  }
  
  .pic p {
      font-family: "iransans";
      font-weight: normal;
      word-spacing: normal;
      letter-spacing: normal;
      font-size: 12px;
      padding: 0 .5rem;
  }
  
  .formsec {
      width: 50%;
      margin: 0 auto;
  }
  
  .formcontainer label,
  input {
      display: block;
      margin-bottom: .5rem;
  }
  
  .formcontainer input.formcontrol {
      width: 100%;
      padding: .2rem .2rem;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, .3);
  }