#tabel {
    text-align: center;
}

.text.txt {
    font-weight: bold;
    text-align: center;
}

table tr .thc {
    color: red;
}

nav a[href] {
    color: black;
}

nav a[href="./contact_us.html"] {
    color: green;
}

a[href$=html] {
    background-color: pink;
}