      @font-face {
          font-family: "circular";
          src: url(../fonts/circular.eot), url(../fonts/circular.eot?#iefix) format("embedded-opentype"), url(../fonts/circular.ttf) format("truetype"), url(../fonts/circular.woff2) format("woff2"), url(../fonts/circular.woff) format("woff");
          font-weight: normal;
      }
      
      @font-face {
          font-family: "circular";
          font-weight: bold;
          src: url(../fonts/Circular\ Std\ Bold.eot), url(../fonts/Circular\ Std\ Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Circular\ Std\ Bold.ttf) format("truetype"), url(../fonts/Circular\ Std\ Bold.woff2) format("woff2"), url(../fonts/Circular\ Std\ Bold.woff) format("woff");
      }
      
      * {
          font-family: "circular";
          font-weight: normal;
          line-height: normal;
          word-spacing: normal;
          letter-spacing: normal;
      }
      
      html {
          font-size: 100%;
      }
      
      title,
      h1,
      label,
      th {
          font-family: "circular";
          font-weight: bold;
      }
      
      #tabel {
          text-align: center;
      }
      
      .text.txt {
          font-weight: bold;
          text-align: center;
      }
      
      table tr .thc {
          color: red;
      }
      
      nav a[href] {
          color: black;
      }
      
      nav a[href="./contact_us.html"] {
          color: green;
      }
      
      a[href$=html] {
          background-color: pink;
      }
      
      p>span {
          background-color: orange;
      }
      
      li+span {
          background-color: yellow;
      }
      
      footer:hover a {
          color: purple;
      }
      
      li:hover a {
          color: purple;
      }
      
      li:hover {
          color: purple;
      }
      
      p.text::first-letter {
          font-weight: bold;
      }
      
      button {
          padding: .5rem;
          border: 2px solid black;
      }
      
      iframe {
          margin: 0rem 15rem;
      }
      
      header.head {
          width: 100%;
          height: 200px;
          background-image: url(../media/pictures/images.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 0 80%;
      }
      
      header.conhead {
          width: 100%;
          height: 150px;
          text-align: center;
          background: linear-gradient(to left, #3a1c71, #d76d77, #ffaf7b);
          filter: drop-shadow(2px 2px 4px rgb(0, 0, 0, .5));
      }
      
      h1 {
          padding: 3rem 0;
          text-shadow: 1px 1px 1px rgb(0, 0, 0, .2);
      }
      
      p {
          text-align: justify;
      }
      
      textarea {
          word-break: break-all;
      }
      
      .section::after,
      .section::before {
          content: "";
          display: table;
      }
      
      .section::after {
          clear: both;
      }
      
      .text_header {
          float: right;
          width: 60%;
          background-color: #3a1c71;
          font-size: 1.1rem;
      }
      
      .img_header {
          background-color: #d76d77;
          float: right;
          width: 40%;
      }
      
      .pic {
          float: right;
          width: 25%;
      }
      
      .grad {
          background: linear-gradient(to left, #3a1c71, #d76d77, #ffaf7b);
      }